a {
  text-decoration: none;
  color: black;
}
a:link{
  color: white;
}
/*галава*/
.golova {
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 20px;
}
.header {
  position: static;
  width: auto;
  color: white;
  background-color: rgba(32, 118, 171, 0.98);
  display: inline-block;
  width: auto;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
.f {
  font-size: xX-large;
}
