<header class="header">
  <div class="golova">
    <div class="header_logo">
      <h3><a routerLink="">Rats&Cats</a></h3>
    </div>

    <div class="f"><a routerLink="crutch"> аксессуары </a> <br /></div>
    <div class="f"><a routerLink="">корм для животных</a> <br /></div>
    <div class="f"><a routerLink="sales">скидки и акции </a> <br /></div>
    <div class="f"><a routerLink="contacts">контакты</a> <br /></div>
    <div class="f"><a routerLink="shops"> магазины</a> <br /></div>
    <div class="backet" class="f"><a routerLink="basket">корзина</a></div>
    <div class="registration" class="f">
      <ng-container
        *ngIf="!this.user || this.user.number == ''; else showNumber"
      >
        <a (click)="openDialog()" class="enter" class="f"> вход </a>
      </ng-container>
      <ng-template #showNumber>
        {{ this.user.number }}
      </ng-template>
    </div>
    <br />
  </div>
</header>
