
<footer class="footer">
    <div class="footer_social_nets">
      <h3>мы в социальных сетях</h3>
      <a href="#" target="_blank" class="Socials_social__1hBVC common_smooth__At4Yh Socials_vk__1gPpP"
             rel="noopener noreferrer">
        <img src="vkontacte.jpg" class="image1" />
      </a>
               <a href="#" target="_blank" class="Socials_social__1hBVC common_smooth__At4Yh Socials_vk__1gPpP"
        rel="noopener noreferrer">
        <img src="twitter.jpg" class="image2" />
      </a>
    </div>
    
  </footer>