<div class="reg">
  <h2 mat-dialog-title class="authorization">Авторизация</h2>
  <br />
  <div mat-dialog-content>
    <h4  class="authorization">Телефон</h4>
    <br />
    <input
    [(ngModel)]="this.data.number"
      type="text"
      class="authorization"
      placeholder="+7 (123) 456-78-90"
    /><br />

    <h4 class="authorization">пароль</h4>
    <br />
    <input [(ngModel)]="this.data.password" type="password" class="authorization" />
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
