<div class="authorization1">
  <h2 mat-dialog-title class="authorization">Авторизация</h2>
  <br />
  <div mat-dialog-content>
    <h4  class="authorization">логин</h4>
    <br />
    <input
    [(ngModel)]="user.number"
      type="text"
      class="authorization"

    /><br />

    <h4 class="authorization">пароль</h4>
    <br />
    <input [(ngModel)]="user.password" type="password" class="authorization" />
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Ok</button>
  </div>
</div>
