/**********************************/
/***********************************/
/************************************/
/*************************************/
/*     РАБОТА НАД ОСНОВНОЙ ЧАСТЬЮ     */
/*************************************/
/************************************/
/***********************************/
/**********************************/
.main {
  position: absolute;
  /* bottom: 80px; */
  height: auto;
  width: auto;
}
/*работа над лидерами продажи*/
.grid-container {
  position: relative;
  left: 600px;
  width: 180px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px 20px;
  grid-row-gap: 15px 89px;
  grid-column-gap: 1em;
}
.best_s {
  width: 180px;
  height: 180px;
}

/*общая работа*/
.zago {
  position: relative;
  left: 700px;
}
/*работа над нашими товарами */
.grid-container1 {
  position: relative;
  left: 600px;
  top: 5px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
img:hover {
  opacity: 0.7; /* FF, Opera, Safari, Chrome */
}

img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE7 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE8, хотя несмотря на заверения майкрософт вроде как и предыдущий вариант в 8-м работает - filter:prodig:... */
}

a {
  text-decoration: none;
}
/***************************/
/*работа над шаблонам */
.in-template {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fill, 100px); */
  width: auto;
  height: auto;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Параметры тени */
  background-color: rgb(142, 182, 214);
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .in-template {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}
