<ng-container *ngFor="let i of korm" class="template">
  <div class="in-template">
    <div>
      <img class="best_s" src="{{ i.imgSrc }}" />
    </div>
    <div class="inter">
      <div class="name">
        <br />
        {{ i.name }}
      </div>
      <div class="price">
        <br />
        {{ this.i.price * i.countKorm }} рублей
      </div>
      <div class="type">
        <br />
        {{ i.type }}
      </div>
      <div class="btn">
        <button
          (click)="fav(i.id)"
          class="butn"
          *ngIf="i.favBtn"
          class="btn btn-danger"
        >
          в корзину
        </button>
        <button
          (click)="fav(i.id)"
          class="butn"
          *ngIf="!i.favBtn"
          class="btn btn-danger"
        >
          удалить из корзины
        </button>

        <input
          type="number"
          minlength="0"
          [(ngModel)]="i.countKorm"
          placeholder=" "
        />
      </div>
    </div>
  </div>
</ng-container>
<div class="buy" *ngIf="this.favService.favKorms.length != 0">
  <button (click)= 'delete()'>купить</button>
  <div class="">
    Стоимость {{this.sum}}
  </div>
</div>

<div *ngIf="this.favService.favKorms.length == 0" class="empty rounded">
  <div class="text-non">Ваша корзина пуста.</div>
</div>
