/*вся страница*/
body {
  background-image: url("assets/images/back.jpg");
  font-family: "Source Code Pro", monospace;
}
html,
body {
  height: auto;
  width: auto;
  overflow-x:hidden;  /*для горизонтального*/
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
